<% if task.errors.present? %>
  <ul id="error_explanation">
    <% task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: task, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', id: 'task_name' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 5, class: 'form-control', id: 'task_description' %>
  </div>

  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>