<h1>タスク一覧</h1>

<%= search_form_for @q, class: 'mb-5' do |f| %>
  <div class="form-group row">
      <%= f.label :name_cont, '名称', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= f.search_field :name_cont, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
      <%= f.label :created_at_gteq, '登録日時', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= f.search_field :created_at_gteq, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-outline-primary' %>
  </div>
<% end %>

<%= link_to '新規登録', new_task_path, class: "btn btn-primary" %>

<div class="mb-3">
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th><%= sort_link(@q, :name, default_order: :asc) %></th>
        <th><%= Task.human_attribute_name(:created_at) %></th>
        <th></th>
      </tr>
    </thead>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.name, task_path(task.id) %></td>
          <td><%= task.created_at %></td>
          <td>
            <%= link_to '編集', edit_task_path(task.id), class: 'btn btn-primary mr-3' %>
            <%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: "タスク「#{task.name}」を削除しました。"}, class: 'btn btn-danger mr-3' %>
          </td>
        </tr>
      <% end %>
  </table>
<%= link_to 'エクスポート', tasks_path(format: :csv), class: 'btn btn-primary mb-3' %>
<%= form_tag import_tasks_path, multipart: true, class: 'mb-3' do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート", class: 'btn btn-primary' %>
<% end%>
</div>