<h1>タスクの新規登録</h1>
<div class="nav justify-content-end">
  <%= link_to '一覧', tasks_path, class: 'nav-link' %>
</div>

  <%= form_with model: @task, local: true do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', id: 'task_name' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5, class: 'form-control', id: 'task_description' %>
    </div>

    <%= f.submit nil, class: 'btn btn-primary' %>
  <% end %>
