<h1>タスクの詳細</h1>

<div class="justify-content-end">
  <%= link_to '一覧', task_path, class: 'nav-link' %>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th><%= Task.human_attribute_name(:id) %></th>
        <td><%= @task.id %></td>
      </tr>
      <tr>
        <th><%= Task.human_attribute_name(:名称) %></th>
        <td><%= @task.name %></td>
      </tr>
      <tr>
        <th><%= Task.human_attribute_name(:詳しい説明) %></th>
        <td><%= auto_link(simple_format(h(@task.description), {}, sanitize: false, wrapper_tag: 'div')) %></td>
      </tr>
      <tr>
        <th><%= Task.human_attribute_name(:登録日時) %></th>
        <td><%= @task.created_at %></td>
      </tr>
      <tr>
        <th><%= Task.human_attribute_name(:更新日時) %></th>
        <td><%= @task.updated_at %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to '編集', edit_task_path(@task.id), class: 'btn btn-primary mr-3' %>
  <%= link_to '削除', task_path(@task.id), method: :delete, data: { confirm: "タスク「#{@task.name}」を削除しました。"}, class: 'btn btn-danger mr-3' %>
</div>