<h1>ユーザー一覧</h1>

<%= link_to '新規登録', new_admin_user_path, class: 'btn btn-primary' %>

<div class="mb-3">
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th><%= User.human_attribute_name(:name) %></th>
        <th><%= User.human_attribute_name(:email) %></th>
        <th><%= User.human_attribute_name(:admin) %></th>
        <th><%= User.human_attribute_name(:created_at) %></th>
        <th><%= User.human_attribute_name(:updated_at) %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, [:admin, user] %></td>
          <td><%= link_to user.email %></td>
          <td><%= link_to user.admin? ? 'あり' : 'なし' %></td>
          <td><%= link_to user.created_at %></td>
          <td><%= link_to user.updated_at %></td>
          <td>
            <%= link_to '編集', edit_admin_user_path(user.id), class: 'btn btn-primary mr-3' %>
            <%= link_to '削除', [:admin, user], method: :delete, data: { confirm: 'ユーザー「#{user.name}」を削除します。よろしいですか？'}, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>