<!DOCTYPE html>
<html>
  <head>
    <title>RailsSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="app-title navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-brand RailsSample"></div>
  </div>
  <ul class="navbar-nav ml-auto">
    <% if current_user %>
      <li class="nav-item"><%= link_to 'タスク一覧', tasks_path, class: 'nav-link' %>
      </li>
      <li class="nav-item"><%= link_to 'ユーザー一覧', admin_users_path, class: 'nav-link' %>
      </li>
      <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %>
      </li>
    <% else %>
      <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %>
      </li>
    <% end %>
  </ul>
  <div class="container">
    <% if flash.notice.present? %>
      <div class="alert alert-success"><%= flash.notice %></div>
    <% end %>
  </div>

    <%= yield %>
  </body>
</html>
