<!DOCTYPE html>
<html>
  <head>
    <title>RailsSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="app-title navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-brand RailsSample"></div>
  </div>
  <div class="container">
    <% if flash.notice.present? %>
      <div class="alert alert-success"><%= flash.notice %></div>
    <% end %>
  </div>

    <%= yield %>
  </body>
</html>
